<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>The Patient Readmission Analysis Tool</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">


    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />
    <script src="../../plugins/jquery/jquery.min.js"></script>
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="../../index.html">Readmission Analyzer</a>
            </div>
            
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="../../images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                    <div class="email">john.doe@example.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="/dashboard">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    
                    <li class="active">
                        <a href="javascript:void(0);" >
                            <i class="material-icons">view_list</i>
                            <span>Diabetes Patient</span>
                        </a>
                        
                    </li>
                    
                    
                    
                    
                    
                   
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2018 - 2019 <a href="javascript:void(0);">Readmission Analyzer</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <!-- <div class="block-header">
                <h2>NORMAL TABLES</h2>
            </div> -->
            <!-- Basic Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Diabetes Readmissions Business Intelligence
                            </h2>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr class="bg-blue-grey">
                                    <th scope="col" colspan="7" class="align-center">Input Fields</th>
                                    <th scope="col" colspan="3" class="align-center">Output Fields</th>
                                </tr>
                                <tr class="bg-grey">
                                    <th scope="col">Name</th>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Admission date</th>
                                    <th scope="col">Discharge Date</th>
                                    <th scope="col">Race</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Admission Source</th>
                                    <th scope="col">Lace Result</th>
                                    <th scope="col">Readmission Result</th>
                                    <th scope="col">Risk of Readmission</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% diabetes_data.forEach(function(patient){ %>
                                <tr onClick='selectPatient(<%= patient.encounter_id%>)' class="<%= patient.risk_of_readmission == 'Low' ? 'success' : (patient.risk_of_readmission == 'Medium' ? 'warning' : 'danger') %>" data-toggle="modal" data-target="#exampleModal">
                                  <td><%= patient.encounter_id%></td>
                                  <td><%= patient.patient_name%></td>
                                  <td><%= new Date(patient.admission_date).toLocaleDateString('en-US',{ year: 'numeric', month: 'long', day: 'numeric' })%></td>
                                  <td><%= new Date(patient.discharge_date).toLocaleDateString('en-US',{ year: 'numeric', month: 'long', day: 'numeric' })%></td>
                                  <td><%= patient.race%></td>
                                  <td><%= patient.gender%></td>
                                  <td><%= patient.admission_source%></td>
                                  <td><%= patient.lace_result%></td>
                                  <td><%= patient.readmission_result%></td>
                                  <td><%= patient.risk_of_readmission%></td>
                                </tr>
                                <% }) %>
                            </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-end next">
                                <% if (current_page == 1) { %>
                                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                                <% } else { 
                                    var prev = Number(current_page) - 1;
                                    %>
                                    <li class="page-item"><a class="page-link" href="/diabetesList?filter_year=<%= filter_year%>&page=<%= prev%>">Previous</a></li>
                                <% } %>
                                <% for (i=1; i <= page_count; i++) {
                                    if (i==current_page) { %>
                                    <li class="page-item active"><a class="page-link"><%= i%></a>
                                    <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/diabetesList?filter_year=<%= filter_year%>&page=<%= i%>"><%= i%></a></li>
                                <% }
                                 } %>

                                <% if (current_page == page_count) { %>
                                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                                <% } else {
                                    var next = Number(current_page)  + 1; %>
                                    <li class="page-item"><a class="page-link" href="/diabetesList?filter_year=<%= filter_year%>&page=<%= next%>">Next</a></li>
                                <% } %>
                                
                              </ul>
                            </nav>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title" id="modal-title">Title </h5>
                                            <table class="table" id="encounter"></table>
                                            
                                            
                                        </div>
                                        <div class="modal-body">
                                                
                                            
                                            <table class="table pull-left col-md-8" id="patient-record">
                                            </table>
                                            <div class="col-md-4">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Table -->
            <!-- Striped Rows -->
            <!--  -->
                </div>
                
    </section>

    <!-- Jquery Core Js -->
    

    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>

    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.3.min.js"></script>

    <script type="text/javascript">
        
        var objs = <%- JSON.stringify(diabetes_data)%>;
        var new_obj = {}
        objs.forEach(function(ob){
            new_obj[ob.encounter_id] = ob;
        });
    $(document).ready(function() {
        AWS.config.update({region:'us-east-1'});
        
    });


    function selectPatient(idparam)
    {
        
        // console.log(new_obj);
        patient=new_obj[idparam];
        var predictedScore = predictiveResult($.extend(true, {}, patient))

        document.getElementById('modal-title').innerHTML="Patient Name:"+patient.patient_name+"<br>Encounter ID: "+idparam;
        var table=document.getElementById('patient-record');
        
        
        modalstr='<tbody id="patient_metrics">';
            
            for(key in patient)
            {
                modalstr+='<tr><td> '+ key +' </td><td>' + patient[key] + '</td></tr>';
            }
            
        modalstr+='</tbody>';

        table.innerHTML=modalstr;
    }




    function predictiveResult(finalInput) {
        
        delete finalInput['lace_result']
        delete finalInput['readmission_result']
        delete finalInput['risk_of_readmission']
        finalInput['encounter_id'] = finalInput['encounter_id'].toString();
        finalInput['patient_nbr'] = finalInput['patient_nbr'].toString();
        
        console.log(finalInput)
        var machinelearning = new AWS.MachineLearning({
                                    accessKeyId: "AKIAIITX6ZJXMVEBNAWA",
                                    secretAccessKey: "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"
                                });

        // var obj = eval("(" + finalInput + ')');
        var params = {
            MLModelId: 'ml-2BSwrAYL2SX',
            PredictEndpoint: 'https://realtime.machinelearning.us-east-1.amazonaws.com',
            Record: finalInput
        };
        var request = machinelearning.predict(params);
        request.on('success', function(resp) { 
            if(resp.data && resp.data){
                if(resp.data.Prediction && resp.data.Prediction.predictedScores){
                    var predictedScore = JSON.stringify(resp.data.Prediction.predictedScores[resp.data.Prediction.predictedLabel]);
                    var finalScore, resultMessage;
                    
                    if(!isNaN(predictedScore)){
                        finalScore = Math.round(predictedScore * 100);
                        console.log("FInal score" + finalScore)
                        document.getElementById('modal-title').innerHTML += "<br> Predictive Result: " + finalScore + "%";
                    }
                }
            }
        });
        request.on('error',function(resp){console.log(resp)});
        request.send();
    }


    </script>
</body>

</html>